@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,300 & family= Oswald:wght@400;500;600;700 & family= Playfair+Display: ital@1 & family= Poppins:wght@400;500;600;700;800 & family= Quicksand:wght@300;500 & family= Raleway & family= Titillium+Web:ital,wght@1,200 & display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: initial;
}
body{
    font-family: 'montserrat' 'ital';
}
.inicio{
    background-color: #0C356A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: 150px;
        height: 150px;
        padding: 20px;
    }
    h1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        align-content: center;
        margin: 10px;
        padding: 20px;
        font-family: initial;
        color: white;
    }
}
.navegador{
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px;
        margin: 10px;
        list-style: none;
        text-decoration: none;
        text-align: center;
        li a{
            color:black;
            padding: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            margin: 20px;
            list-style: none;
            text-decoration: none;
            &:hover{
                color: #585b61;
            }
        }
    }
}
.title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.frente{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    .img_inicio{
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        .img{
            width:550px;
            display: flex;
            flex-wrap: wrap;
            .p{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 25px;
                background-color: #f5f7f859;
                color: #0C356A;
            }
        }
        h3{
            height: auto;
            display: flex;
            align-self: center;
            margin-left: -50rem;
            color: #000000;
            background-color: #f3f3f3b0;
            justify-content: center;
            padding: 20px;
            gap:35px;
        }
    }
}
.img-descrip{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    .img-descrip1{
        width: 100%;
        height: 950px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .text-descrip{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding: 50px;
    margin-top: -2rem;
        p{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: -38rem;
            color: rgb(255, 255, 255);
            padding: 25px;
            width: 650px;
            height: 700px;
            background-color: rgba(12, 53, 106, 0.719);
            font-size: 30px;
            height: auto;   
        }
    }
   

}
.catalogo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: row;
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: #f3f3f3;
    img{
        height: 350px;
        justify-content: center;
        margin: 20px;
        margin-top: 5rem;

    }
    .datos-catalogo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 350px;  
        justify-content: center;
        padding: 20px;
        h4{
            display: flex;
            flex-wrap: wrap;
            background-color:rgba(12, 53, 106, 0.719);
            padding: 20px;
            justify-content: center;
            color: white;
        }
        p{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding: 10px;
        }
    }
}

//MediaQuery INICIO
@media(max-width:750px){
    .inicio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px;
        h1{
            margin: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        img{
            width: 150px;
            height: 150px;
        }
    }
    .navegador{
        display: flex;
        flex-direction: row;
        ul{
            padding: 0px;
            margin: 2px;
            display: flex;
            flex-direction: row;
            li a{
                padding: 5px;
                border: 1px solid #6f6767;
                border-radius: 5px; 
                margin: 10px;
                box-shadow: 5px 5px 5px #6f6767;
            }
        }
    }
    .frente{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        .img_inicio{
            margin: 5px;
            padding: 5px;
            img{
                width: 350px;
                height: 250px;
            }
            p{
                display: flex;
                flex-direction: row;
                padding: 5px;
            }
            h3{
                display: flex;
                align-items: center;
                width: 250px;
                height: 150px;
                margin-top: -10rem;
                margin-left: 0px;
                background-color: #6f6767a3;
                padding: 5px;
                color: white;
                box-shadow: 1px 5px 5px #000000;
                gap: 0px;
                font-size: 15px;
            }
        }
    }
    .img-descrip{
        display: none;
    }
    .catalogo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        padding: 5px;
        background-color:#f3f3f3;
        img{
            display: none;
        }
        .datos-catalogo{
            margin: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 300px;
            border: 1px solid black;
            .p{
                background-color:#f3f3f3;
            }
        }
    }
    .pie{
        display: flex;
        flex-direction: column;
        padding: 2px;
        margin: 2px;
        font-size: 5px;
        .datos{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 5px;
            gap: 0px;
        }
    }
    .derechos{
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
        width: 300px;
        margin: 10px;
        padding: 10px;
        justify-content: center;
        align-self: center;
    }
}
@media(max-width:767px){
    .informacion{
        width: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .datos-informacion{
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            h2{
                width: 350px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            h5{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 5px;
                padding: 5px;
                width: 300px;
            }
            p{
                width: 300px;
                text-align: center;
                margin: 5px;
                font-size: 10px;
            }
            img{
                display: none;
                
            }
        }

    }
    .title{
        width: 250px;
        padding: 5px;
        margin: 10px;
        font-size:20px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}
//Footer
.pie{
    background-color:#6f6767;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;      
    text-decoration: none;
    list-style: none;
    color: white;
    justify-content: center;
    align-content: center;
    .datos{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        align-self: center;
        padding: 10px;
        gap:50px;
        text-decoration: none;
        list-style: none;
        color: black;
        p{
            height: 150px;
            display: flex;
            flex-wrap: wrap;
            text-decoration: none;
            list-style: none;
            color: rgb(141, 141, 141);
            font-size: 30px;
            justify-content: end;
            a{
                font-size: 35px;
                list-style: none;
                text-decoration: none;
                color: white;
                &:hover{
                    color: #0C356A;
                }
            }
        }
    }
}
.derechos{
    display: flex;
    flex-wrap: wrap;
    font-size:20px;
    justify-content: center;
    align-self: center;
    margin-top: -5rem;
    background-color:#6f6767;
    color: white;
}
.fa-brands{
    text-decoration: none;
    list-style: none;
}
// Productos
.title{
    background-color: #4e87d1;
    padding: 30px;
    color: white;
    margin: 15px;
}
.tarjetas{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    .mercaderia{
        margin: 30px auto;
        background-color: #F5F7F8;
        width:500px;
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        border: 2px solid black;
        box-shadow:10px 10px 10px #585b61;
            img{
                border: 1px solid black;
                height: 250px;
                width: 300px;
                align-self: center;
                object-fit: cover;
                display: flex;
                flex-wrap: wrap;
                transition: transform 0.3s;
                cursor: pointer;
                &:hover{
                    transform: scale(1.2);
                    box-shadow:10px 10px 10px #585b61;
                }
            }
            p{
                font-family: 'Nunito', sans-serif;
                margin: 20px;
                padding: 20px;
                align-self: center;
                text-align: center;
                display: flex;
            }
            button{
                display: flex;
                flex-wrap: wrap;
                align-self: center;
                margin: 10px;
                padding: 20px 20px;
                border-radius: 5px;
                &:hover{
                    background-color:#AEDEFC;
                }
            }
    }
}
//Parte Contactos
.informacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px;
    width: 950px;
    background-color: #F5F7F8;
    box-shadow: 10px 20px 10px 10px #6f6767;
    margin-bottom: 30px;
    .datos-informacion{
        display: flex;
        flex-direction: column;
        text-align: center;
        h2{
            background-color: #0C356A;
            color: white;
            font-family:Georgia, 'Times New Roman', Times, serif;
            padding: 25px;
        }
        h5{
            display: flex;
            flex-wrap: wrap;
            font-size: large;
            justify-content: start;
            text-align: start;
            margin: 20px;
            padding: 30px;
            color: white;
            background-color: #0C356A;
            border: 5px solid #0C356A;
            border-radius: 10px;
        }
        p{
            text-align: start;
            margin: 20px;
            font-size: 25px;
        }
        img{
            width: 450px;
            height: 450px;
            align-self: center;
            border: 5px solid #0C356A;
            border-radius: 3px;
            box-shadow: 10px 10px 10px #000000;
        }
    }
}